<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Booking Details</title>
    <link rel="stylesheet" href="flight.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='flight.css') }}">
</head>
<body>
  <nav>
    <a href="home.html" class="navlogo">Port Said Airport</a>
    <ul class="navlinks">

    </ul>
  </nav>
<div class="booking-details">
  <h1>Here are the available flights according to your booking details</h1>
        {% for flight in flights %}
            <ul>
              <li>{{ flight }}</li>
            </ul>
        {% endfor %}
  <input type="submit" value="Submit">
</div>

<script>
  function submitBookingDetails() {
    var flightOptions = document.getElementById('flightOptions').value;

    if (flightOptions === "") {
      alert('Please select a valid flight.'); 
      return;
    }
    
    alert("Your booking has been submitted. You can now proceed to the airport and purchase your ticket. :)");
  }
</script>

</body>
</html>

