<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Portfolio</title>
  <link rel="stylesheet" href="sub_emplo.css">
</head>
<body>

  <nav>
    <a href="home.html" class="nav__logo">Port Said Airport</a>
    <ul class="nav__links">
    </ul>
  </nav>

  <div class="portfolio">
    <div class="profile">
      <img src="image/6-Uses-for-a-Professional-Personal-Portrait-Photograph.jpg" alt="Employee Photo">
      <h2>{{name}}</h2>
      <ul>
        <li><strong>Employee ID:</strong> {{empId}}</li>
        <li><strong>Phone:</strong> {{phoneNumber}}</li>
        <li><strong>Email:</strong> {{email}}</li>
        <li><strong>Age:</strong> {{age}}</li>
        <li><strong>Department:</strong> {{department}}</li>
        <li><strong>Job Title:</strong> {{jobTitle}}</li>
        <li><strong>Hire Date:</strong> {{hireDate}}</li>
        <li><strong>Salary:</strong> {{salary}}</li>
      </ul>
    </div>
  </div>
</body>
</html>
