<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login | By Code Info</title>
  <link rel="stylesheet" href="signstyle.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="home.html" class="nav__logo">Port Said Airport</a>
    <ul class="nav__links">
    </ul>
  </nav>
  <div class="login-box">
    <h1>Login</h1>
    <form action="http://192.168.204.53:5000/login" method="post">
      <label>Passport Number (PN)</label>
      <label for="pn" title="Passport Number">Passport Number:</label>
      <input type="text" placeholder="Enter your passport number" id="pn" name="pn" />
      <input type="submit" value="Submit" />
    </form>
  </div>
  <p class="para-2">
    Not have an account? <a href="signup.html">Sign Up Here</a>
  </p>
</body>

</html>
