<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passenger Portfolio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='flight.css') }}">
</head>
<body>

  <nav>
    <a href="home.html" class="nav__logo">Port Said Airport</a>
    <ul class="nav__links">
    </ul>
  </nav>

  <div class="portfolio">
    <div class="profile">
      <h2>{{firstName}} {{lastName}}</h2>
      <ul>
        <li><strong>passport number:</strong> {{passportNumber}}</li>
        <li><strong>phoneNumber:</strong> {{phoneNumber}}</li>
        <li><strong>Age:</strong> {{age}}</li>
        <li><strong>gender:</strong> {{gender}}</li>
        <li><strong>nationality:</strong> {{nationality}}</li>
        <li><strong>address:</strong> {{address}}</li>
      </ul>
    </div>
  </div>
  
  <p class="para-2">
    Would you like to change your personal information? <a href="signup.html">Update profile</a>
  </p>

  <div class="booking-details">
    <h1>Here are the available flights according to you booking details</h1>
    <div class="flight-options">
      <label>select a flight</label>
      <select id="flightOptions" title="Select a flight">
        <option value="">Select a flight</option>
        <option value="May 9, 2024 09:00 - Qatar Airways">May 9, 2024 6:00 - Qatar Airways</option>
        <option value="May 9, 2024 12:00 - EgyptAir">May 9, 2024 9:00 - EgyptAir</option>
        <option value="May 9, 2024 15:00 - Emirates">May 9, 2024 12:00 - Emirates</option>
        <option value="May 9, 2024 18:00 - British Airways">May 9, 2024 15:00 - British Airways</option>
        <option value="May 9, 2024 21:00 - Etihad Airways">May 9, 2024 18:00 - Etihad Airways</option>
        <option value="May 9, 2024 24:00 - Saudi Airlines">May 9, 2024 21:00 - Saudi Airlines</option>
      </select>
    </div>
    <input type="button" value="Submit" onclick="submitBookingDetails()" />
  </div>

  <script>
    function submitBookingDetails() {
      var flightOptions = document.getElementById('flightOptions').value;

      
      if (flightOptions === "") {
        alert('Please select a valid flight.'); 
        return;
      }
      
      alert("Your booking has been submitted. You can now proceed to the airport and purchase your ticket. :)");
    }
  </script>

</body>
</html>
