<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passenger Portfolio</title>
  <link rel="stylesheet" href="flight.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='flight.css') }}">
</head>
<body>

  <nav>
    <a href="home.html" class="navlogo">Port Said Airport</a>
    <ul class="navlinks">
    </ul>
  </nav>

  <div class="portfolio">
    <div class="profile">
      <h2>{{firstName}} {{lastName}}</h2>
      <ul>
        <li><strong>passport number:</strong> {{passportNumber}}</li>
        <li><strong>phoneNumber:</strong> {{phoneNumber}}</li>
        <li><strong>Age:</strong> {{age}}</li>
        <li><strong>gender:</strong> {{gender}}</li>
        <li><strong>nationality:</strong> {{nationality}}</li>
        <li><strong>address:</strong> {{address}}</li>
      </ul>
    </div>
  </div>
  
  <p class="para-2">
    Would you like to change your personal information? <a href="signup.html">Update profile</a>
  </p>
  <p class="para-2">
    Would you like to  book a flight ? 
    <form action="http://192.168.204.53:5000/book" method="post">
    <button type="submit">book a flight</button>
</form>
  </p>
</body>
</html>
