<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <title>Sign Up | By Code Info</title>
    <link rel="stylesheet" href="signstyle.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='signstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <style>
        .error-message {
            color: red;
            font-size: 15px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
  <nav>
    <a href="home.html" class="nav__logo">Port Said Airport</a>
    <ul class="nav__links">
    </ul>
  </nav>

<div class="signup-box">
    <h1>Sign Up</h1>
    <form id="signupForm" action="http://localhost:5000/signup" method="post">
        <label for="firstName">First Name</label>
        <input type="text" placeholder="" id="firstName" name="firstName" required />
        <label for="lastName">Last Name</label>
        <input type="text" placeholder="" id="lastName" name="lastName" required/>
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" placeholder="" id="phoneNumber" name="phoneNumber" required/>
        <label for="age">Age</label>
        <input type="number" placeholder="" id="age" name="age" required/>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required/>
        <label for="gender">Gender</label>
        <select id="gender" name="gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="female">Enginner</option>
        </select>
        <label for="passportNumber">Passport Number</label>
        <input type="number" placeholder="" id="passportNumber" name="passportNumber" required />
        <label for="nationality">Nationality</label>
        <select id="nationality" name="nationality" required>
            <option value="">Select a nationality</option>
            <option value="Palestinian">Palestinian - Palestine </option>
            <option value="Egyptian">Egyptian - Egypt </option>
            <option value="Chinese">Chinese - China</option>
            <option value="Indian">Indian - India</option>
            <option value="American">American - United States</option>
            <option value="Indonesian">Indonesian - Indonesia</option>
            <option value="Pakistani">Pakistani - Pakistan</option>
            <option value="Saudi">Saudi - Saudi Arabia </option>
            <option value="German">German - Germany</option>
            <option value="French">French - France</option>
            <option value="British">British - United Kingdom </option>
            <option value="Italian">Italian - Italy </option>
            <option value="Japanese">Japanese - Japan </option>
            <option value="Turkish">Turkish - Turkey </option>
            <option value="Spanish">Spanish - Spain </option>
            <option value="Mexican">Mexican - Mexico </option>
            <option value="ka3 2l hamor">ka3 2l hamor - ka3 2l hamor </option>
        </select>
        <label for="address">Address</label>
        <input type="text" placeholder="" id="address" name="address" required/>
        <input type="submit" value="Submit">
    </form>
    <div id="error-message" class="error-message"></div>
</div>
<p class="para-2">
    Already have an account? <a href="login.html">Login here</a>
  </p>
  <p class="para-2">
    Are you an employee in our airport? <a href="emp.html">Login here</a>
  </p>
</body>

</html>