<!DOCTYPE html>
<html lang="en">

<head>
  <title>Flight Booking Details</title>
  <link rel="stylesheet" href="submitdes.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>

  <nav>
    <a href="home.html" class="nav__logo">Port Said Airport</a>
    <ul class="nav__links">
  
    </ul>
  </nav>

  <div class="booking-details">
    <h1>Flight Booking Details</h1>
    <form>
      <label for="departureCity">Departure City</label>
      <select id="departureCity">
        <option value="">Enter Departure city</option>
        <option value="Egypt">Port Said</option>
      </select>
      <label for="arrivalCountry">Arrival country</label>
      <select id="arrivalCountry">
        <option value="">Select a country</option>
        <option value="palestine">palestine </option>
        <option value="China">China</option>
        <option value="India">India</option>
        <option value="United States">United States</option>
        <option value="Indonesia">Indonesia</option>
        <option value="Pakistan">Pakistan</option>
        <option value="Saudi Arabia">Saudi Arabia </option>
        <option value="Germany">Germany</option>
        <option value="France">France</option>
        <option value="United Kingdom">United Kingdom </option>
        <option value="Italy">Italy </option>
        <option value="Japan">Japan</option>
      </select>

      <label for="departureDate">Departure Date</label>
      <input type="date" id="departureDate">
      <label for="arrivalDate">Arrival Date</label>
      <input type="date" id="arrivalDate">
      
      <label for="flightClass">Class</label>
      <select id="flightClass">
        <option value="first">First Class</option>
        <option value="economy">Economy</option>
        <option value="business">Business</option>
      </select>
      <input type="button" value="Submit" onclick="submitBookingDetails()" />
    </form>
  </div>
  <script>
    function submitBookingDetails() {
      var departureCity = document.getElementById('departureCity').value;
      var arrivalCountry = document.getElementById('arrivalCountry').value;
      var departureDate = document.getElementById('departureDate').value;
      var arrivalDate = document.getElementById('arrivalDate').value;
      var flightClass = document.getElementById('flightClass').value;

      if (!departureDate || !arrivalDate || !departureCity || !arrivalCountry) {
        alert('Please fill out all fields.');
        return;
      } 
      console.log('Departure City:', departureCity);
      console.log('Arrival Country:', arrivalCountry);
      console.log('Departure Date:', departureDate);
      console.log('Arrival Date:', arrivalDate);
      console.log('Class:', flightClass);
      window.location.href = 'passenger.html';
    }
  </script>
  
</body>
</html>
