<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Booking Details</title>
  <link rel="stylesheet" href="submitdes.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='submitdes.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
  <nav>
    <a href="home.html" class="navlogo">Port Said Airport</a>
    <ul class="navlinks">

    </ul>
  </nav>

  <div class="booking-details">
    <h1>Flight Booking Details</h1>
    <form action="http://192.168.204.53:5000/flight" method="post">
      <label for="departureCity">Departure City</label>
      <select id="departureCity">
        <option value="">Enter Departure city</option>
        <option value="Egypt">Port Said</option>
      </select>
      <label for="arrivalAirport">Arrival airport</label>
      <select id="arrivalAirport" name="arrivalAirport">
        <option value="AMS">select an airport</option>
        <option value="AMS">"AMS"-Amsterdam Airport Schiphol</option>
        <option value="ATL">"ATL"-Hartsfield-Jackson Atlanta International Airport</option>
        <option value="CDG">"CDG"-Charles de Gaulle Airport</option>
        <option value="DEN">"DEN"-Denver International Airport</option>
        <option value="DFW">"DFW"-Dallas/Fort Worth International Airport</option>
        <option value="DOH">"DOH"-Hamad International Airport</option>
        <option value="HND">"HND"-Tokyo Haneda Airport</option>
        <option value="JED">JED"-King Abdulaziz International Airport</option>
        <option value="JFK">"JFK"-John F. Kennedy International Airport</option>
        <option value="LAX">"LAX"-Los Angeles International Airport</option>
        <option value="LHR">"LHR"-London Heathrow Airport</option>
        <option value="ORD">"ORD"-O'Hare International Airport</option>
        <option value="PEK">"PEK"-Beijing Capital International Airport</option>
        <option value="SFO">"SFO"-San Francisco International Airport</option>
        <option value="SYD">"SYD"Sydney Airport</option>
      </select>

      <label for="departureDate">Departure Date</label>
      <input type="date" id="departureDate" name="departureDate" required>
      <label for="arrivalDate">Arrival Date</label>
      <input type="date" id="arrivalDate">
      
      <label for="flightClass">Class</label>
      <select id="flightClass">
        <option value="first">First Class</option>
        <option value="economy">Economy</option>
        <option value="business">Business</option>
      </select>
      <input type="submit" value="Search">
    </form>
  </div>  
</body>
</html>
