<!DOCTYPE html>
<html lang="en">

<head>
  <title>Flight Booking Details</title>
  <link rel="stylesheet" href="submitdes.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>

<body>

  <nav>
    <a href="home.html" class="navlogo">Port Said Airport</a>
    <ul class="navlinks">

    </ul>
  </nav>

  <div class="booking-details">
    <h1>Flight Booking Details</h1>
    <form>
      <label for="departureCity">Departure City</label>
      <select id="departureCity">
        <option value="">Enter Departure city</option>
        <option value="Egypt">Port Said</option>
      </select>
      <label for="arrivalAirport">Arrival airport</label>
      <select id="arrivalAirport">
        <option value="AMS">"AMS"-Amsterdam Airport Schiphol</option>
        <option value="ATL">"ATL"-Hartsfield-Jackson Atlanta International Airport</option>
        <option value="CDG">"CDG"-Charles de Gaulle Airport</option>
        <option value="DEN">"DEN"-Denver International Airport</option>
        <option value="DFW">"DFW"-Dallas/Fort Worth International Airport</option>
        <option value="DOH">"DOH"-Hamad International Airport</option>
        <option value="HND">"HND"-Tokyo Haneda Airport</option>
        <option value="JED">JED"-King Abdulaziz International Airport</option>
        <option value="JFK">"JFK"-John F. Kennedy International Airport</option>
        <option value="LAX">"LAX"-Los Angeles International Airport</option>
        <option value="LHR">"LHR"-London Heathrow Airport</option>
        <option value="ORD">"ORD"-O'Hare International Airport</option>
        <option value="PEK">"PEK"-Beijing Capital International Airport</option>
        <option value="SFO">"SFO"-San Francisco International Airport</option>
        <option value="SYD">"SYD"Sydney Airport</option>
      </select>

      <label for="departureDate">Departure Date</label>
      <input type="date" id="departureDate">
      <label for="arrivalDate">Arrival Date</label>
      <input type="date" id="arrivalDate">
      
      <label for="flightClass">Class</label>
      <select id="flightClass">
        <option value="first">First Class</option>
        <option value="economy">Economy</option>
        <option value="business">Business</option>
      </select>
      <input type="button" value="Submit" onclick="submitBookingDetails()" />
    </form>
  </div>
  <script>
    function submitBookingDetails() {
      var departureCity = document.getElementById('departureCity').value;
      var arrivalCountry = document.getElementById('arrivalAirport').value;
      var departureDate = document.getElementById('departureDate').value;
      var arrivalDate = document.getElementById('arrivalDate').value;
      var flightClass = document.getElementById('flightClass').value;

      if (!departureDate || !arrivalDate || !departureCity || !arrivalAirport) {
        alert('Please fill out all fields.');
        return;
      } 
      console.log('Departure City:', departureCity);
      console.log('Arrival Airport:', arrivalCAirport);
      console.log('Departure Date:', departureDate);
      console.log('Arrival Date:', arrivalDate);
      console.log('Class:', flightClass);
      window.location.href = 'book.html';
    }
  </script>
  
</body>
</html>
